.progress-bar .bar {
  -fx-accent: #ff0000;
  -fx-padding: 1px;
  -fx-background-insets: 1;
}

#progressbar > .bar {
  -fx-accent: #ff0000;
  -fx-padding: 0px;
  -fx-background-insets: 0;
  -fx-background-radius: 5px;
}

#progressbar > .track {
  -fx-background-color: #000000;
  -fx-background-radius: 5px;
}

#paneInventaire {
  -fx-background-image: url("background-inventaire.png");
  -fx-background-size: 400 400;
}

#paneCraft {
  -fx-background-image: url("background-craft.png");
  -fx-background-size: 200 400;
}
