.progress-bar .bar {
  -fx-accent: #ff0000;
  -fx-control-inner-background: #303030;
  -fx-padding: 1px;
  -fx-background-insets: 1;
}

#paneInventaire {
  -fx-background-image: url("background.png");
}
